/* Container holding the image and the text */
.container-1 {
     position: relative;
     text-align: center;
     color: white;
}

/* Bottom left text */
.bottom-left-1 {
     position: absolute;
     bottom: 8px;
     left: 16px;
}

/* Top left text */
.top-left-1 {
     position: absolute;
     top: 8px;
     left: 16px;
}

/* Top right text */
.top-right-1 {
     position: absolute;
     top: 8px;
     right: 16px;
}

/* Bottom right text */
.bottom-right-1 {
     position: absolute;
     bottom: 8px;
     right: 16px;
}

/* Centered text */
.centered-1 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.justify-content-1 {
     justify-content: space-between;
}

@media only screen and (max-width: 620px) {
     .justify-content-1 {
          justify-content: center;
     }  
}

.m-s-0 {
    margin-right: 50px;
}

@media only screen and (max-width: 1200px) {

     .d-0 {
        display: none;
     }

     .m-s-0 {
        margin-right: 0px;
     }
}
